# Environment files
.env
.env.*
!.env.example

# Logs & Temp
*.log
storage/logs/*.log
.DS_Store
Thumbs.db
ehthumbs.db

# Dependencies & Build Output
/vendor
/node_modules
/public/build
/public/hot
/public/storage

# Storage Cache & Keys
/storage/*.key
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/framework/testing/*
/storage/app/public/*
/storage/pail

# IDE & Editor Files
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
.phpactor.json
.phpunit.result.cache
/auth.json
Homestead.json
Homestead.yaml
